.btn {
  padding: 0.5em 1em;
  transition: 0.5s;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 0.5em;
  background-color: aquamarine;
  color: #000;
  opacity: 0.8;
  max-width: 200px;
  font-weight: bold;
}

.btn:hover {
  opacity: 1;
  background-color: aqua;
}
